<div class="col-lg-3 col-md-3">
    <ul class="nav nav-pills nav-stacked" auto-active>
        <li><a ng-href="./#!/index">Мои заявки<span class="badge pull-right">47</span></a></li>
        <li><a ng-href="./#!/send-docs">Отправка документов</a></li>
        <li class="info-li">Подготовка документов:</li>
        <li><a ng-href="./#!/register-ip">Регистрация ИП</a></li>
        <li><a ng-href="./#!/register-ooo">Регистрация ООО</a></li>
        <li><a ng-href="./#!/change-ip">Внесение изменений ИП</a></li>
        <li><a ng-href="./#!/change-ooo">Внесение изменений ООО</a></li>
        <li><a ng-href="./#!/eliminate-ip">Ликвидация ИП</a></li>
        <li class="info-li">Дополнительные сервисы:</li>
        <li><a ng-href="./#!/pick-up-accountant">Подобрать бухгалтера</a></li>
        <li><a ng-href="./#!/pick-up-bank">Подобрать банк</a></li>
        <li><a ng-href="./#!/gosmanual" target="_blank">Уплата госпошлины</a></li>
    </ul>
</div>